cbr/cbr-repo/.settings/org.eclipse.wst.common.project.facet.core.xml
cbr/.settings/org.eclipse.wst.common.project.facet.core.xml
cbr/cbr-service/.settings/org.eclipse.wst.common.project.facet.core.xml
cbr/cbr-web/.settings/org.eclipse.wst.common.project.facet.core.xml
cbr/cbr-web/.tern-project
*.prefs
*.classpath
*.project
*.component
cbr/cbr-web/.settings/.jsdtscope
cbr/cbr-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
cbr/cbr-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
